{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista usuarios</title>
    <link href="{%static 'css/tabla_users.css'%}" rel="stylesheet" />
  </head>
  <body>
    <header>
      <h1>Tabla de Usuarios</h1>
    </header>
    <main>
      <div class="table-container">
        <table>
            <tr>
              <th>Nombre</th>
              <th>Documento</th>
              <th>Ficha</th>
              <th>foto</th>
            </tr>

            {%for user in get_usuarios%}
            <tr>
              <td>{{user.nombre}}</td>
              <td>{{user.docuemento}}</td>
              <td>{{user.ficha}}</td>
              <td>
                <img
                  src="{{user.photo.url}}"
                  width="40"
                  height="40"
                  alt="imagen"
                />
              </td>
            </tr>
            {%endfor%}
        </table>
      </div>
    </main>
  </body>
</html>
