/* estilos para colores*/
.colores {
    color:blueviolet;

}

.color-exadecimal {
    color: 264653;

}

.color-rgb {
    color: rgb(128, 5, 30)
}

.color-rgba {
    color:rgba(39, 4, 92, 0.2)
}

.fondo {
    /*background-color: aquamarine;*/
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.gXDJ2TvGmerj_ndFNHVGAQHaEK&pid=Api&rs=1&c=1&qlt=95&w=203&h=114");
    background-position: left bottom;
}

.fondo-interno {
    
    background-image: url("imagenes/pantalla.jpg");
    background-position: left bottom;
}

/*Tamaños*/
.ancho {
    background-color: aqua;
    width: 100px;

}

.altura {
    background-color: blueviolet;
    height: 300px;
}

.tarjeta {
    border-style: solid;
    border-color: rgb(128, 5, 30);
    border-width: 1px;
/* border-top: none;*/
/*padding: 10px 20px 30px 40px;*/
    padding: 10px 20px 30px 40px;
    margin: 10px 20px;
}