@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Sedgwick+Ave+Display&display=swap');

body {
    background-image: url("https://img.freepik.com/vector-gratis/particula-tecnologia-abstracta-realista-fondo_23-2148431735.jpg?size=626&ext=jpg&ga=GA1.1.1926974158.1696627087&semt=ais");
    background-attachment: fixed;
    background-size: cover;
}
* {
    padding: 0;
    margin: 5px;
    font-family: 'Mukta', sans-serif;
}
.header1, .nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header2 {
    display: grid;
    place-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header3 {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.header4 {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 30px;
}
.subtitulo {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: center;
    color:aqua;
}
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header {
    position: fixed; /*hace que el encabezado se mantenga en la parte superior*/
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(10, 10, 10, 0.7);
    color: aliceblue;
    font-size: 18px; /*tamaño de fuente*/
    height: 220px;
    transition: all 0.3s ease; /*se agrega una transicion que se usara al pasar al header-scroll*/
    z-index: 1000; /*se agrega para que se mantenga siempre encima de todo elemento*/
}

.header-scroll {
    background: rgba(0, 0, 0, 0.466); /*cambia el color de fondo cuando se hace scroll*/
    backdrop-filter: blur(5px); /*agrega un efecto de difuminado al fondo*/
    font-size: 8px; /*cambia el tamaño de la letra al hacer scroll*/
    height: 94px; /*cambia la altura del encabezado al hacer scroll*/
}
.but {
    background-color: rgba(10, 10, 10, 0.7); /* Establece el color de fondo */
    color: aliceblue; /* Establece el color del texto */
    font-size: 14px; /* Establece el tamaño de fuente */
    height: 40px; /* Establece la altura de los botones */
    transition: all 0.3s ease; /* Agrega una transición suave para cambios en los estilos */
}

.but:hover {
    background: rgba(0, 0, 0, 0.466); /* Cambia el color de fondo al hacer hover */
    font-size: 10px; /* Cambia el tamaño de fuente al hacer hover */
    height: 40px; /* Cambia la altura al hacer hover */
}




.section1 h2 {
    color: white;
}


.seccion section2:nth-child(odd) {
    background-color: #ffffff;
    height: 800px;
}

#img1 {
    border-radius: 100px;
    position: absolute;
    top: 0PX;
    margin: 10px 10px 20px 40px;
    justify-content: start;
    align-items: start;
}
#img2 {
    border-radius: 10px;
    padding: 50px;
    margin: 10px 10px 20px 40px;

}
.text1 {
    display: flex;
    background-color: rgba(10, 10, 10, 0.171);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px #000; box-shadow: 3px 3px 10px #000;
    text-align: center;
    font-family: cursive;
    left: 50%;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    margin-top: -5%;
    border-radius: 1rem;
    backdrop-filter: blur(19px);
}

.presen{
    position: relative;
    text-align: right;
    margin-top: -10px;
    left: -55%;
    color: rgb(255, 255, 255);

}
.presen h2 {
    color: rgb(255, 255, 255);
}

.text2 {
    /**background-color: rgba(10, 10, 10, 0.6);**/
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: cursive;
    width: 90%;
    height: 300px;
    margin-top: 20%;
}


.contenedor {
    width: 100%;
    height: 100vh;

}
.section1 {
    align-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
}
.section2 {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section5 {
    width: 100%;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section3 {
    width: 100%;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section4 {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    flex-direction:row;
    height: 400px;
}

.contenido-1{
    margin: 10px;
    background-color: rgb(12, 22, 66);
    height: 200px;
    width: 200px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-row: row;
    color: #fff;
}

.contenido-2{
    background-color: rgb(12, 22, 66) ;
    height: 200px;
    width: 200px;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
    color: #fff;
}
.contenido-3{
  background-color: rgb(12, 22, 66);
  height: 200px;
  width: 200px;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  color: #fff;

}
.contenido-4{
  background-color: rgb(12, 22, 66);
  height: 200px;
  width: 200px;
  border: 1px solid rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  color: #fff;
  
}
#contenidoSe4 {
    display: flex;
    justify-content: center;
    align-items: center;

}
.section2 {
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}
.div_ocupaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    height: 250px;
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);

}

.img_card {
  width: 300px;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #051780 0%, #3eaaca 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}


button {
    --color: rgb(34, 159, 163);
    border: 2px solid var(--color);
    padding: 10px 20px;
    border-radius: 3px; 
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    
    
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   

   button::after {
content: "";
background: rgb(34, 159, 163);
position: absolute;
z-index: -1;
padding: 16px 20px;
display: block;
left: -20%;
right: -20%;
top: 0;
bottom: 0;
transform: skewX(45deg) scale(0, 1);
transition: all 0.3s ease;
}
button:hover::after {
transition: all 0.8s ease-out;
transform: skewX(-90deg) scale(1, 1);
}

/* ocupaciones*/
.div_ocupaciones {
    overflow: hidden;
    display: flex;
    background-color: #80859e;
    width: 250px;
    height: 100px;
    color:#000;
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
   }
   
   .div_ocupaciones:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: rgb(38, 83, 182);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .div_ocupaciones:hover {
    color: #fff;
   }
   
   .div_ocupaciones:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .div_ocupaciones:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .div_ocupaciones:active:before {
    background: #555b63;
    transition: background 0s;
   }

footer {
  background: rgb(34, 159, 163);
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
footer p {
  color:rgb(10, 10, 10);
  text-align:center;
}