button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
   }
   
   button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   button:hover {
    color: #fff;
   }
   
   button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

/* skills*/
.div_skills {
    --color: #ff62c800;
    font-family: inherit;
    display: inline-block;
    background-color: #764ccc;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px #000; box-shadow: 3px 3px 10px #000;
   }
   
   .div_skills:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: rgb(45, 2, 155);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .div_skills:hover {
    color: #fff;
   }
   
   .div_skills:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .div_skills:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .div_skills:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }

