.wrap{
    width: 600px;
    height: 600px;
    background: rgb(210, 168, 226);
    position: relative;
}

.child{
    position: absolute;
    width:160px;
    height:160px;
    background: rgb(80, 38, 134);
}
.child1{    
    margin: 20px 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.child2{
    margin:20px 220px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.child3{
    margin:20px 420px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.child4{
    margin:220px 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.child5{
    margin:220px 220px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.child6{
    margin:220px 420px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.child7{
    margin:420px 20px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.child8{
    margin:420px 220px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.child9{
    margin:420px 420px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}