body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner {
    max-height: 39rem;
}

.bg-contacto {
    position:relative;
    top: -130px;
}
#contacto-section {
    background-color: aqua;
    min-height: 500px;
    position: relative;
}

#contenedor-formulario{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(255, 255, 255);
    border-radius: 5px;
    max-width: 500px;
}
#titulo-formulario {
    color:rgb(8, 8, 8);
}

footer {
    background: aqua;
    min-height: 100px;
}
footer p {
    color:rgb(10, 10, 10);
    text-align:center;
}
#iconos i {
    font-size:26px ;
    padding: 0 8px;
    color:rgb(14, 13, 13);
}




@media (max-width:768) {
    #intro{
        width:90% !important;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
    .bg-contacto {
        top: -110px;
    }
}



