
@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Sedgwick+Ave+Display&display=swap');

body {
    background-image: url("https://www.xtrafondos.com/wallpapers/atardecer-estilo-retrowave-7819.jpg");
    background-attachment: fixed;
    background-size: cover;
}
* {
    padding: 0;
    margin: 5px;
    font-family: 'Mukta', sans-serif;
}
.header1, .nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header {
    background-color:rgba(10, 10, 10,0.7);
    color: aliceblue;
}
.section1 h2 {
    color: white;
}


.seccion section2:nth-child(odd) {
    background-color: #ffffff;
    height: 800px;
}

#img1 {
    border-radius: 100px;
    position: absolute;
    top: 10PX;
    margin: 10px 10px 20px 40px;
    justify-content: start;
    align-items: start;
}
#img2 {
    border-radius: 5px;
}
.text1 {
    background-color: rgba(10, 10, 10, 0.6);
    color: aliceblue;
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: left;
    font-family: cursive;
    width: 40%;
}
.text2 {
    background-color: rgba(10, 10, 10, 0.6);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
    font-family: cursive;
    width: 60%;
}


.contenedor {
    width: 100%;
    height: 100vh;

}
.section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(181, 144, 159);
}
.section3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 68, 103);
}
.section4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 66, 78);
}


/* rgb(158, 92, 107) */
/* rgb(181, 144, 159) */
/* rgb(95, 65, 74) */
/*rgb(32, 20, 34)*/
/*rgb(70, 37, 69)*/
/*rgb(184, 97, 181)*/
/*rgb(70, 95, 110)*/
/*rgb(36, 61, 68)*/